<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small><Strong>Data de publicação: </Strong>{{postagem.date}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
    </div>
</div>